.w-md-editor {
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.w-md-editor-content {
    background-color: var(--white) !important;
    color: var(--black) !important;
}

.wmde-markdown-color {
    background-color: var(--white) !important;
    color: var(--black) !important;
}

.w-md-editor-toolbar {
    background-color: #f9f9f9 !important;
}

.wmde-markdown hr {
    border-bottom: 1px solid var(--gray);
    background-color: var(--gray);
}

.title{
    color: var(--black) !important;
}

.punctuation {
    color: var(--black) !important;
    background-color: var(--white);
}

.code-line {
    background-color: var(--white) !important;
}

.code-block {
    background-color: var(--white) !important;
}

.code-highlight {
    background-color: var(--gray) !important;
}

.w-md-editor-preview .code-highlight .code-line {
    background-color: var(--gray) !important;
}

.w-md-editor-text {
    min-height: 100% !important;
}

.w-md-editor-preview table td,  .w-md-editor-preview table th{
    background-color: var(--white) !important;
}